html {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    height: 100vh;
    width: 100vw;
}

#bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 33vw;
    height: 100vh;
    background-image: url("../images/bg-main-desktop.png");
    background-size: cover;
}

.card-front {
    width: 397px;
    height: 194px;
    display: grid;
    padding: 25px;
    grid-template-rows: 60px 40px 75px 25px;
    grid-template-columns: 1fr 70px;
    grid-template-areas:
        "card-type ."
        ". ."
        "card-numbers card-numbers"
        "card-name card-expire";
    background-image: url(../images/bg-card-front.png);
    justify-content: start;
    align-items: center;
    color: white;
    letter-spacing: 0.1em;
    grid-area: card-front;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 20px;
    margin-right: 60px;
}

.card-front .card-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: card-type;
    height: 40px;
    width: 80px;
}

.card-front .card-logo div:first-child {
    height: 45px;
    width: 45px;
    background-color: aliceblue;
    border-radius: 50%;
}

.card-front .card-logo div:last-child {
    height: 15px;
    width: 15px;
    border: 0.5px aliceblue solid;
    border-radius: 50%;
}

.card-front #card-img-number {
    grid-area: card-numbers;
    font-size: 1.50rem;
}

.card-front #card-img-name {
    font-size: 0.85rem;
    grid-area: card-name;
}

.card-front #card-img-expire {
    font-size: 0.85rem;
    grid-area: card-expire;
}

.card-back {
    font-size: 0.8rem;
    display: grid;
    padding: 40px;
    width: 367px;
    height: 165px;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 62px 36px 1fr;
    grid-template-areas:
        ". ."
        ". cvc"
        ". . ";
    justify-items: center;
    align-items: center;
    background-image: url(../images/bg-card-back.png);
    color: white;
    grid-area: card-back;
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 20px;

}

.card-front #card-img-year,
.card-front #card-img-month {
    display: inline;
}

.card-back #card-img-cvc {
    letter-spacing: 0.1em;
    grid-area: cvc;
}

#form-inputs {
    display: "";
}

#form {
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    grid-area: form;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

#form .input-field {
    padding: 10px
}

#form .input-field label {
    letter-spacing: 0.1em;
    font-size: 0.82rem;
    color: hsl(278, 68%, 11%);
}

#form .input-field input {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    width: 100%;
    height: 18px;
    padding: 14px;
    padding-top: 16px;
    border-radius: 0.5em;
    margin-top: 10px;
}

#form .input-field input:focus {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border: 2px solid transparent;
    outline: none;

}


#form .last-input-row {
    display: grid;
    width: 411px;
    grid-template-columns: 1fr 1fr;

}



#form .input-field #month {
    width: 29%;
    margin-right: 5px;
}

#form .input-field #year {
    width: 32%;
}



#form .input-field #cvc {
    grid-area: cvc;
    width: 94%;
}


#form .confirm {
    display: grid;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 411px;
    font-size: 1.125rem;
    border-radius: 0.5em;
    margin-top: 11px;
    margin-left: 9px;
    background-color: hsl(278, 68%, 11%);
    color: white
}

.input-field.error small {
    visibility: visible;
}

.input-field.error input {
    border-color: hsl(0, 100%, 66%);
    outline: none;
}

.input-field.success input {
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.input-field small {
    color: hsl(0, 100%, 66%);
    visibility: hidden;
}

#page-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "card-front form"
        "card-back form";
}

#thank-you-flex {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-items: center
}

#thank-you-flex #thank-you {
    padding-top: 40px;
    font-size: 1.8rem;
    color: hsl(278, 68%, 11%);
}

#thank-you-flex #thank-you-message {
    padding-top: 20px;
    padding-bottom: 40px;
    color: hsl(279, 6%, 55%);
}